SendMessage/Service References/WService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sms">
    <xs:sequence>
      <xs:element name="_x003C_cellphone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_id_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_resource_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_schedule_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_senddate_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sms" nillable="true" type="tns:Sms" />
</xs:schema>